.modal {
  width: 450px;
}

.modalHeader {
  margin-left: 15px;
  border: none !important;
}

.input1 {
  width: 400px;
  height: 40px;
  margin-left: 10px;
  padding-left: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.input1::placeholder {
  color: lightgray;
  font-size: 20px;
}

.input2 {
  width: 400px;
  height: 70px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 15px;
  padding-top: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.input2::placeholder {
  color: lightgray;
  font-size: 20px;
}
.paragraph {
  color: gray;
  margin-bottom: -10px;
  margin-left: 10px;
}
.modalBottom {
  border: none !important;
  .bottomButton {
    color: black;
    font-weight: 600;
  }
}
